*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color:rgba(0, 0, 0, 0.062);
}
/*Div principal*/
.calculadora{
    position: absolute;
    text-align: center;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    color: white;
    border-radius: 15px;
    padding: 10px;
}

h2{
    font-size: 40px;
    margin-bottom: 10px;
}

.cabecalho{
    display: inline-flex;
    width: 100%;
}

.campo{
    text-align: right;
    height: 50px;
    width: 75%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-bottom: 5px;
    border-radius: 20px;
    color: black;
    font-size: 40px;
    padding-right: 10px;
    overflow: hidden;
}
/*Digitos*/
tr{
    width: 100%;
}

.bt{
    font-size: 200%;
    height: 50px;
    width: 1%;
    background-color: rgba(41, 40, 40, 0.514);
    color: white;
    border-radius: 10px;
}

.bt:hover{
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
}
/*Botão apagar 1*/
.back{
    width: 20%;
    border: none;
    border-radius: 50px;
    background-color: rgb(100, 96, 96);
}

/*Botão de igual*/
.igual{
    background-color: rgb(60, 6, 255);
}

.igual:hover{
    transition: 0.3s;
    background-color: rgba(1, 18, 253, 0.911);
    color: rgb(255, 255, 255);
}

/*Campo ao exibir o resultado*/
.resultado{
    color: rgb(0, 0, 0);
    font-weight:bold;
}

/*Apagar tudo*/
.red{
    background-color: rgba(255, 17, 0, 0.733);
}

.red:hover{
    transition: 0.3s;
    background-color: rgb(201, 39, 39);
    color: rgb(255, 255, 255);
    cursor: pointer;
}